<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!--Number Of Threads-->
    <add key="numOfThreads" value="5" />
    <add key="downloadPath" value="" />
    <add key="pageUrl" value ="https://en.wikipedia.org/wiki/Dog"/>
  </appSettings>

</configuration>